<div [formGroup]="form">
  <fieldset class="form-group" id="form-filter-{{ formGroupName }}">
    <legend>{{ formGroupName | titlecase }}</legend>
    <div class="form-group form-inline row no-gutters">
      <label for="from-addresses-{{ formGroupName }}" class="col-3 justify-content-start">From addresses</label>
      <input
        id="from-addresses-{{ formGroupName }}"
        type="email"
        class="form-control col justify-content-start"
        formControlName="from"
        multiple
      />
    </div>
    <div class="form-group form-inline row no-gutters">
      <label for="to-addresses-{{ formGroupName }}" class="col-3 justify-content-start">To addresses</label>
      <input
        id="to-addresses-{{ formGroupName }}"
        type="email"
        class="form-control col justify-content-start"
        formControlName="to"
        multiple
      />
    </div>
    <div class="form-group form-inline row no-gutters">
      <label for="subject-{{ formGroupName }" class="col-3 justify-content-start">Subject</label>
      <input
        id="subject-{{ formGroupName }}"
        type="text"
        class="form-control col justify-content-start"
        formControlName="subject"
        multiple
      />
    </div>
    <div class="form-group form-inline row no-gutters justify-content-around">
      <div class="form-check col-3 justify-content-start">
        <input
          class="form-check-input form-check-inline"
          id="has-attachment-{{ formGroupName }}"
          type="radio"
          name="hasAttachment"
          formControlName="hasAttachment"
          value="1"
        />
        <label class="form-check-label" for="has-attachment-{{ formGroupName }}">
          Has attachment
        </label>
      </div>
      <div class="form-check col-9 justify-content-start">
        <input
          class="form-check-input"
          id="no-attachment-{{ formGroupName }}"
          type="radio"
          name="hasAttachment"
          formControlName="hasAttachment"
          value="0"
        />
        <label class="form-check-label" for="no-attachment-{{ formGroupName }}">
          Does not have attachment
        </label>
      </div>
    </div>
    <div class="form-group" formGroupName="size">
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="size-larger-{{ formGroupName }}">Size smaller than</label>
        <input
          id="size-larger-{{ formGroupName }}"
          type="number"
          class="form-control col justify-content-start"
          formControlName="smaller"
        />
      </div>
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="size-smaller-{{ formGroupName }}">Size larger than</label>
        <input
          id="size-smaller-{{ formGroupName }}"
          type="number"
          class="form-control col justify-content-start"
          formControlName="larger"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="cc-{{ formGroupName }}">Cc</label>
        <input
          id="cc-{{ formGroupName }}"
          type="email"
          formControlName="cc"
          class="form-control col justify-content-start"
          multiple
        />
      </div>
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="ccOrTo-{{ formGroupName }}">Cc or To</label>
        <input
          id="ccOrTo-{{ formGroupName }}"
          type="email"
          class="form-control col justify-content-start"
          formControlName="ccOrTo"
        />
      </div>
    </div>
    <div formGroupName="contains" class="form-group">
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="body-contains">Body contains</label>
        <input type="text" formControlName="body" class="form-control col justify-content-start" id="body-contains" />
      </div>
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="body-or-subject-contains">Body or subject contains</label>
        <input
          type="text"
          formControlName="bodyOrSubject"
          class="form-control col justify-content-start"
          id="body-or-subject-contains"
        />
      </div>
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="subject-contains">Subject contains</label>
        <input
          type="text"
          formControlName="subject"
          class="form-control col justify-content-start"
          id="subject-contains"
        />
      </div>
      <div class="form-inline row no-gutters">
        <label class="col-3 justify-content-start" for="to-contains">To contains</label>
        <input type="text" formControlName="to" class="form-control col justify-content-start" id="to-contains" />
      </div>
    </div>
  </fieldset>
</div>
