@import "../../../workspace.css";

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding: 1em 0em;
}

.form-action-btns {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-action-btns button {
  margin-left: 0.5em;
}
