nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0f2940;
  padding: 0.1em 1em;
  height: auto;
}

nav > a {
  text-align: right;
  text-decoration: none;
}

nav > .logo {
  font-family: "Material Icons";
  font-size: 2em;
  text-align: left;
}

.account-image {
  align-self: flex-end;
  max-width: 2em;
  max-height: 2em;
  border-radius: 2em;
}
