<nav class="padding-body-md">
  <a [routerLink]="['/']" class="logo text-white">α-mail</a>

  <div *ngIf="selectedAccount != null">
    <img class="account-image" [src]="selectedAccount.avatarUrl" [alt]="selectedAccount.name" />
  </div>
</nav>
