/* You can add global styles to this file, and also import other style files */

body {
  display: grid;

  grid-template-rows: auto 1fr;

  grid-column-gap: 0px;

  grid-row-gap: 0px;

  background-color: #fbfbfb !important;

  font-family: Roboto;
}

app-home {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0.5em;
}

app-navigation {
  grid-row: 1/2;
}

app-account {
  grid-column: 2/3;
  margin: 0.5em 0.5em 0.5em 0;
  height: 100%;
}

app-filters {
  grid-column: 1/2;
  margin: 0.5em 0 0.5em 0.5em;
  height: 100%;
}

.text-white {
  color: white;
}

.padding-body-lr {
  padding-left: 16em;
  padding-right: 16em;
}

.padding-body-md {
  padding-left: 6em;
  padding-right: 6em;
}

.add-floating-oval-white {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.14);
  padding: 0.5em;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 0.9em;
  border-radius: 0.5em;
  border: none;
  text-align: center;
  cursor: pointer;
}

.add-floating-oval-white button {
  border: none;
  background: inherit;
}

.add-floating-oval-white:hover {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.14);
}

.text-red {
  color: #d9534f;
}

.border-red-1px {
  border: 1px solid #d9534f;
}

.bg-white {
  background: white;
}

.bg-blue {
  background: #0275d8;
}
