.workspace {
  background: white;
  padding: 1em;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.trash {
  margin-left: 0.5em;
  font-family: "Material Icons";
  color: #d9534f;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.flex-items-between {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
