<div [ngClass]="{ overlay: modal.visible, hidden: !modal.visible }" (click)="toggleModal()">
  <div
    [ngClass]="{
      'confirm-action-dialog': modal.visible,
      hidden: !modal.visible,
      'bg-white': true
    }"
    (click)="$event.stopPropagation()"
  >
    <h4>{{ message.title }}</h4>
    <p>{{ message.details }}</p>
    <div class="option-group">
      <button class="btn btn-outline-dark" *ngFor="let option of message.options" (click)="outputSelection(option)">
        {{ option | titlecase }}
      </button>
    </div>
  </div>
</div>
