@import "../../../workspace.css";

.overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  float: left;
  background-color: rgba(130, 130, 130, 0.19);
  width: 100%;
  height: 100%;
}

.confirm-action-dialog {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 0px 50px #979797;
  border-radius: 5px;
  margin: auto;
  padding: 2em;
  max-width: 50%;
  max-height: 50%;
  z-index: 999;
}

.hidden {
  display: none !important;
}

.option-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.option-group button {
  margin-right: 0.5em;
}
