<section class="workspace padding-body-lr">
  <header class="flex-items-between">
    <h4>Accounts</h4>
    <div>
      <div class="add-floating-oval-white add-account-btn bg-white">
        <span class="material-icons">add</span>
        <span class="btn-text">Add Account</span>
        <img
          src="assets/gmail-40.png"
          class="bg-white provider-icon"
          title="Gmail"
          (click)="addAccount(ProviderName.gmail)"
        />
        <img
          src="assets/microsoft-outlook-40.png"
          class="bg-white provider-icon"
          title="Outlook"
          (click)="addAccount(ProviderName.outlook)"
        />
      </div>
    </div>
  </header>
  <main>
    <app-confirm-action-dialog
      [message]="confirmActionMessage"
      [modal]="modalState"
      (choice)="handleSelection($event)"
    ></app-confirm-action-dialog>
    <ng-container *ngIf="accounts.length === 0; else elseTemplate">
      <p>No account found</p>
    </ng-container>
    <ng-template #elseTemplate>
      <div *ngFor="let account of accounts">
        <div *ngIf="account != null" [ngClass]="{ 'highlighted-block': account === selectedAccount, account: true }">
          <p (click)="updateSelectedAccount(account)">
            {{ account.name }}<br />
            <span class="text-small">{{ account.email }}</span>
          </p>
          <span (click)="$event.stopPropagation(); confirmDeleteAccount(account)" class="trash">delete</span>
        </div>
      </div>
    </ng-template>
  </main>
</section>
