@import "../../workspace.css";

.add-account-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-left: auto;
  width: auto;
}

.provider-icon {
  border-radius: 4px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 0px 0px 0px 1em;
}

.add-account-btn > .provider-icon {
  display: none;
}

.add-account-btn:hover > .provider-icon,
.add-account-btn:active > .provider-icon {
  display: block;
}

.add-account-btn:hover > .btn-text,
.add-account-btn:active > .btn-text {
  display: none;
}

.provider-icon:hover ~ .provider-icon,
.provider-icon:active ~ .provider-icon {
  display: block;
}

.account {
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  box-shadow: 0em 0em 1px 1px rgba(0, 0, 0, 0.2);
}

.account p {
  cursor: pointer;
  font-weight: normal;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.highlighted-block {
  background-color: #1f5280;
  color: white;
}

.text-small {
  font-size: 0.8em;
}

.account button {
  display: block;
  font-size: 0.8em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: auto 0;
  cursor: pointer;
}

.font-lighter {
  font-weight: lighter;
}
